<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Carrinho de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of cart.items">
    <ion-card-header>
      <ion-card-title>{{item?.produto.nome}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <p>Preço: {{item?.produto.preco | currency}}</p>
        </ion-item>
        <ion-item lines="none">
          <ion-icon color="primary" name="add-circle" (click)="incrementarQuantidadeProduto(item?.produto)"></ion-icon>
          Qtd: {{item?.quantidade}}
          <ion-icon color="primary" name="remove-circle" (click)="decrementarQuantidadeProduto(item?.produto)"></ion-icon>
          <ion-icon slot="end" color="danger" name="trash-outline" (click)="removerProduto(item?.produto)"></ion-icon>
        </ion-item>
    
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="cart.items.length == 0">
    <ion-card-header>
      <ion-card-title>Carrinho vazio</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      ----------------
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="cart.items.length != 0">
    <ion-card-header>
      <ion-card-title>Total: {{total() | currency}}</ion-card-title>
    </ion-card-header>
  
  </ion-card>


  <ion-button expand="full" color="primary" (click)="addNovoItem()">Adicionar Novo Item</ion-button>
  <ion-button *ngIf="cart.items.length != 0" expand="full" color="success" (click)="finalizarCompra()">Finalizar Compra</ion-button>


</ion-content>
